<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>

<body>
    <h1>欢迎{{ username }}</h1>
    <form method="POST">
        <input type="text" placeholder="输入你需要做的事情" name="title">
        <button type="submit">提交</button>
    </form>
    {% for todo in todos %}
        <div>
            {{ todo.title }}
            <a href="/update?id={{ todo.id }}">修改</a>
            <a href="/delete?id={{ todo.id }}">删除</a>
        </div>
    {% endfor %}
</body>

</html>